<div class="container-regs d-flex flex-row h-100">
    <div class="card d-flex flex-column p-3 shadow-sm reg-transactions overflow-auto">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <p class="title m-0">Transações</p>
            <div class="d-flex flex-row align-items-center">
                {% include 'icons/money-recive.svg' %}
                <label id="sum-inputs" title="total de entradas" class="total-inputs title-3-bold me-3 ms-1">{{ sum_inputs }}</label>
                {% include 'icons/money-send.svg' %}
                <label id="sum-outputs" class="total-outputs title-3-bold ms-1 me-3" title="total de saídas">{{ sum_outputs }}</label>
                <div class="btn-group" role="group">
                    <button id="btn-date-ref" type="button" class="btn btn-outline dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ date_references.0.formatted }}
                    </button>
                    <ul id="dropdown-date-ref" class="dropdown-menu" aria-labelledby="btn-date-ref">
                        {% for date_ref in date_references %}
                        <li><a class="dropdown-item {% if forloop.counter == 1 %} active {% endif %}" value="{{ date_ref.value }}">{{ date_ref.formatted }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <button class="btn btn-outline ms-3">{% include 'icons/plus.svg' %}</button>
                <button title="recarregar" id="btn-trans-reload" class="btn btn-outline ms-3">{% include 'icons/refresh.svg' %}</button>
                <button title="expandir todos" id="btn-trans-expand" class="btn btn-outline ms-3">{% include 'icons/expand.svg' %}</button>
                <button title="recolher todos" id="btn-trans-collapse" class="btn btn-outline ms-3">{% include 'icons/collapse.svg' %}</button>
            </div>
        </div>
        <hr class="mb-0">
        <div id="trans-cards"></div>
    </div>
    <div class="card p-3 shadow-sm ms-3 reg-details h-100" id="reg-details" style="display: none;">
        <div class="d-flex justify-content-between align-items-center">
            <div id="reg-details-title">
                <p class="text m-0 title-2"></p>
            </div>
            <div class="d-flex">
                <button class="btn btn-outline ms-3">{% include 'icons/plus.svg' %}</button>
                <button class="btn btn-outline ms-3">{% include 'icons/edit.svg' %}</button>
                <button id="reg-details-btn-hide" class="btn btn-outline ms-3">{% include 'icons/panel-right-filled.svg' %}</button>
            </div>
        </div>
        <div id="reg-details-type">
            <p class="m-0 fw-semibold">Tipo</p>
            <p class="text"></p>
        </div>
        <div id="reg-details-value">
            <p class="m-0 fw-semibold">Valor</p>
            <p class="text"></p>
        </div>
        <div id="reg-details-owner">
            <p class="m-0 fw-semibold">Responsável</p>
            <p class="text"></p>
        </div>
        <div id="reg-details-occurrance">
            <p class="m-0 fw-semibold">Data de Ocorrência</p>
            <p class="text">20 Jan 26, 08h10</p>
        </div>
        <div id="reg-details-description">
            <p class="m-0 fw-semibold">Descrição</p>
            <p class="text">Televisão parcelada</p>
        </div>
        <div id="reg-details-status">
            <p class="m-0 fw-semibold">Status</p>
            <div class="text"></div>
        </div>
        <hr>
        <div id="reg-details-card">
            <p class="m-0 fw-semibold">Cartão</p>
            <p class="text"></p>
        </div>
    </div>
</div>