<div class="card shadow-sm p-3 d-grid row-gap-3 h-100 overflow-auto">
    <p class="title m-0">Novo Registro</p>
    <hr class="hr-ignore-parent-padding m-0">
    <div>
        <span>Título</span>
        <input type="text" class="form-control" id="inp-title">
    </div>
    <div>
        <span>Valor</span>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">R$</span>
            <input type="number" class="form-control" min="0" step="0.01" value="0.00">
        </div>
    </div>
    <div>
        <span>Data de Ocorrência</span>
        <input type="datetime" class="form-control" id="inp-occurrance">
    </div>
    <div>
        <span>Responsável</span>
        <select class="form-control" id="inp-responsable">
            <option value="" selected disabled hidden></option>
        </select>
    </div>
    <div>
        <span>Tipo de Registro</span>
        <select class="form-select" id="inp-type">
            <option>Entrada</option>
            <option>Entrada Cartão</option>
            <option>Saída</option>
            <option>Saída Cartão</option>
        </select>
    </div>
    <div class="d-flex">
        <div class="me-3 w-100">
            <span>Total de Parcelas</span>
            <input type="number" class="form-control" min="1" step="1" value="1" id="inp-num-installments">
        </div>
        <div class="w-100">
            <span>Parcela Atual</span>
            <input type="number" class="form-control" min="1" step="1" value="1" id="inp-current-installment">
        </div>
    </div>
    <div class="d-flex">
        <div class="me-3 w-100">
            <span>Cartão</span>
            <select class="form-select" id="inp-card">
                {% for card in cards %}
                <option value="{{ card.id }}">{{ card.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="w-100">
            <span>Fatura</span>
            <select class="form-select" id="inp-invoice">
                <option value="" selected disabled hidden></option>
            </select>
        </div>
    </div>
    <hr class="hr-ignore-parent-padding m-0">
    <div class="d-flex justify-content-end">
        <button class="btn btn-outline ms-3">cancelar</button>
        <button class="btn primary ms-3">salvar</button>
    </div>
</div>