<div class="card d-flex flex-column p-3 shadow-sm" style="min-height: 100%;">
    <div class="d-flex flex-row align-items-center justify-content-between">
        <p class="title m-0">Transações</p>
        <div class="d-flex flex-row">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline">Jan 26</button>
                <!-- <input type="date" class="form-control" placeholder="Jan 26"> -->
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Mensal
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="#">Mensal</a></li>
                        <li><a class="dropdown-item" href="#">Semanal</a></li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-outline ms-2">{% include 'icons/plus.svg' %}</button>
            <button class="btn btn-outline btn-rotate-full ms-2">{% include 'icons/refresh.svg' %}</button>
        </div>
    </div>

    <!-- Conteúdo gerado via JS -->
    <div class="card card-transaction mt-3 p-3" id="reg-transactions"></div>
</div>