<div class="card d-flex flex-column p-3 shadow-sm">
    <div class="d-flex flex-row align-items-center justify-content-between">
        <p class="title m-0">Transações</p>
        <div class="d-flex flex-row">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline">Jan 26</button>
                <!-- <input type="date" class="form-control" placeholder="Jan 26"> -->
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Mensal
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="#">Mensal</a></li>
                        <li><a class="dropdown-item" href="#">Semanal</a></li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-outline ms-3"><i class="bi bi-plus-lg"></i></button>
            <button class="btn btn-outline ms-3"><i class="bi bi-arrow-clockwise"></i></button>
        </div>
    </div>
</div>