{% extends 'base.html' %}

{% load static %}

{% block body %}

<nav class="card d-flex home-nav flex-column p-3 shadow-sm">
    <div class="d-flex align-items-center justify-content-center">
        <a href="/" class="home-nav-logo d-flex align-items-center text-decoration-none text-black">
            <img src="{% static 'imgs/logo.svg' %}" alt="logo" class="me-2">
            <p class="mb-0 home-nav-title">Financeiro</p>
        </a>
        <button class="btn p-1" id="btn-nav-collapse">
            <img src="{% static 'imgs/icons/panel-left-filled.svg' %}" title="recolher painel" width="20" height="20" class="icon-panel-opened">
            <img src="{% static 'imgs/icons/panel-left.svg' %}" title="expandir painel" width="20" height="20" class="icon-panel-closed">
        </button>
    </div>
    <hr class="hr-ignore-parent-padding">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="mb-1">
            <a class="nav-link d-flex align-items-center" name="Dashboards">
                {% include 'icons/dashboard.svg' %}
                <span class="ms-2">Dashboards</span>
            </a>
        </li>
        <li class="mb-1">
            <a class="nav-link d-flex align-items-center" name="Registros">
                {% include 'icons/table.svg' %}
                <span class="ms-2">Registros</span>
            </a>
        </li>
        <li class="mb-1">
            <a class="nav-link d-flex align-items-center" name="Cartões e Faturas">
                {% include 'icons/credit-card.svg' %}
                <span class="ms-2">Cartões e Faturas</span>
            </a>
        </li>
    </ul>
    <hr class="hr-ignore-parent-padding">
    <ul class="nav nav-pills flex-column">
        <li class="mb-1">
            <a class="nav-link d-flex align-items-center" name="Configurações">
                {% include 'icons/gear-fill.svg' %}
                <span class="ms-2">Configurações</span>
            </a>
        </li>
        <li class="mb-1">
            <a class="nav-link d-flex align-items-center" name="Usuário e Conta">
                {% include 'icons/person-fill.svg' %}
                <span class="ms-2">{{ user_name }}</span>
            </a>
        </li>
        <li>
            <a class="nav-link d-flex align-items-center" name="Sair">
                {% include 'icons/logout.svg' %}
                <span class="ms-2">Sair</span>
            </a>
        </li>
    </ul>
</nav>

<main class="ms-3 d-flex flex-column">
    <div class="card d-flex flex-row p-3 mb-3 shadow-sm home-card-top justify-content-between">
        <p class="title m-0" id="home-title"></p>
        <div class="d-flex flex-row">
            <button class="btn btn-outline border-0 ms-2 p-0"><i class="bi bi-bell-fill"></i></button>
        </div>
    </div>
    <div id="home-content" class="h-100 overflow-auto"></div>
</main>

{% endblock %}

{% block script %}
<script type="module" src="{% static 'scripts/home.js' %}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}
