{% extends 'base.html' %}

{% load static %}

{% block body %}

{% csrf_token %}
<div id="container-login" class="d-flex align-items-center h-100 justify-content-center">
    <div id="login-inputs" class="d-grid row-gap-4 p-4 me-3">
        <div class="d-grid">
            <p class="title mb-0 text-center">Financeiro</p>
            <p class="subtitle mb-0 text-center">Seu controle financeiro em um só lugar</p>
        </div>
        {% block login_content %}
        {% endblock %}
    </div>
    <img src="{% static 'imgs/animations/analytics-character.svg' %}" alt="">
</div>

{% endblock %}

{% block script %}
<script type="module" src="{% static 'scripts/login.js' %}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}