<div class="d-flex flex-row h-100">
    <div class="card d-flex flex-column p-3 shadow-sm reg-transactions overflow-auto">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <p class="title m-0">Transações</p>
            <div class="d-flex flex-row align-items-center">
                <img src="/static/imgs/icons/money-recive.svg" class="me-1" title="total de entradas" style="width: 22px; height: 22px;">
                <label title="total de entradas" class="title-3 me-3">{TOTAL_INPUTS}</label>
                <img src="/static/imgs/icons/money-send.svg" class="me-1" title="total de saídas" style="width: 22px; height: 22px;">
                <label class="title-3 me-3" title="total de saídas">{TOTAL_OUTPUTS}</label>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline">Jan 26</button>
                    <!-- <input type="date" class="form-control" placeholder="Jan 26"> -->
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mensal
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="dropdown-item" href="#">Mensal</a></li>
                            <li><a class="dropdown-item" href="#">Semanal</a></li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-outline ms-3">{% include 'icons/plus.svg' %}</button>
                <button class="btn btn-outline btn-rotate-full ms-3">{% include 'icons/refresh.svg' %}</button>
            </div>
        </div>

        <hr>
        <!-- Conteúdo gerado via JS -->
        <div class="content" id="{CONTENT_ID}"></div>
    </div>
    <div id="{CARD_DETAILS_ID}"></div>
</div>