<div class="card p-3 shadow-sm ms-3 reg-details h-100" id="{CONTAINER_ID}">
    <div class="d-flex justify-content-between align-items-center">
        <p id="{FIELD_TITLE_ID}" class="m-0 title-2">Televisão (2/8)</p>
        <div class="d-flex">
            <button class="btn btn-outline ms-3">{% include 'icons/plus.svg' %}</button>
            <button class="btn btn-outline ms-3"><i class="bi bi-pencil-square"></i></button>
            <button id="{BTN_HIDE_ID}" class="btn btn-outline ms-3">{% include 'icons/panel-right-filled.svg' %}</button>
        </div>
    </div>
    <p class="m-0 fw-semibold">Tipo</p>
    <p id="{FIELD_TYPE_ID}">Saída Cartão</p>
    <p class="m-0 fw-semibold">Valor</p>
    <p id="{FIELD_VALUE_ID}">R$ 187,41</p>
    <p class="m-0 fw-semibold">Responsável</p>
    <p id="{FIELD_OWNER_ID}">Brunna Carvalho</p>
    <p class="m-0 fw-semibold">Data de Ocorrência</p>
    <p id="{FIELD_OCCURRENCE_ID}">20 Jan 26, 08h10</p>
    <p class="m-0 fw-semibold">Descrição</p>
    <p id="{FIELD_DESCRIPTION_ID}">Televisão parcelada</p>
    <p class="m-0 fw-semibold">Status</p>
    <div id="{FIELD_STATUS_ID}"></div>
    <hr>
    <p class="m-0 fw-semibold">Cartão</p>
    <p id="{FIELD_CARD_ID}">Nubank</p>
    <!-- <p class="m-0 fw-semibold">Fatura</p>
    <p>Jan 26</p>
    <p class="m-0 fw-semibold">Parcela</p>
    <p>2 de 8</p>
    <p class="m-0 fw-semibold">Valor Total</p>
    <p>R$ 1.499,28</p> -->
</div>