<div class="card shadow-sm p-3 d-flex row-gap-3 h-100 overflow-auto">
    {% if edit_mode %}<input type="text" id="inp-id" value="{{ reg.id }}" hidden>{% endif %}
    <p class="title m-0">{{ title }}</p>
    <hr class="h-line-ignore-parent-padding m-0">
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inp-radio-type-in" {% if reg and reg.type_in %}checked{% endif %} name="type">
            <label class="form-check-label" for="inp-radio-type-in">Entrada</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inp-radio-type-out" {% if not reg.type_in %}checked{% endif %} name="type">
            <label class="form-check-label" for="inp-radio-type-out">Saída</label>
        </div>
    </div>
    <div>
        <label for="inp-title" class="form-label">Título</label>
        <input type="text" class="form-control" id="inp-title" value="{{ reg.title }}">
    </div>
    <div>
        <label for="inp-value" class="form-label">Valor</label>
        <div class="input-group">
            <span class="input-group-text">R$</span>
            <input id="inp-value" type="number" class="form-control" min="0" step="0.01" placeholder="0,00" value="{{ reg.value }}">
        </div>
    </div>
    <div>
        <label for="inp-occurrance" class="form-label">Data de Ocorrência</label>
        <input type="datetime" class="form-control" id="inp-occurrance" value="{{ reg_occurrance }}">
    </div>
    <div class="d-flex column-gap-3">
        <div class="w-100">
            <label for="inp-ref-month" class="form-label">Mês de Referência</label>
            <select class="form-select" id="inp-ref-month">
                {% for month in months %}
                <option value="{{ month.number }}" {% if month.number == reg_month_number %}selected{% endif %}>{{ month.text }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="w-100">
            <label for="inp-ref-year" class="form-label">Ano de Referência</label>
            <input type="number" class="form-control" min="2000" step="1" maxlength="4" id="inp-ref-year"
                value="{%if ref %}{{ reg.year }}{% else %}{{ current_date.year }}{% endif %}">
        </div>
    </div>
    <div>
        <label for="inp-status" class="form-label">Status</label>
        <select class="form-select" id="inp-status">
            {% for value, prop in status.items %}
            <option value="{{  value }}" {% if prop.selected %}selected{% endif %}>{{ prop.text }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="inp-desc" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="inp-desc" {% if reg.description %}value="{{ reg.description }}"{% endif %}>
    </div>
    <div class="mb-3">
        <label for="inp-category" class="form-label">Categoria</label>
        <input class="form-control" list="datalist-category" id="inp-category" placeholder="Outros" {% if reg.category %}value="{{ reg.category.title }}"{% endif %}>
        <datalist id="datalist-category">
            {% for category in categories %}
            <option value="{{ category }}">
            {% endfor %}
        </datalist>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inp-self-reg"
            {% if not reg.responsable %}checked{% endif %}
            onclick="document.getElementById('div-inp-responsable').hidden = this.checked">
        <label class="form-check-label" for="inp-self-reg">Pessoal</label>
    </div>
    <div id="div-inp-responsable" {% if not reg.responsable %}hidden{% endif %}>
        <label for="inp-title" class="form-label">Responsável</label>
        <div class="d-flex d-column column-gap-2">
            <select class="form-select" id="inp-responsable">
                {% for responsable in responsables %}
                <option value="{{ responsable.id }}" {% if reg.responsable.id == responsable.id %}selected{% endif %}>{{ responsable.name }}</option>
                {% endfor %}
            </select>
            <button title="novo cartão" id="btn-new-responsable" class="btn btn-outline" data-bs-toggle="modal" data-bs-target="#modal-new-responsable"
                onclick="document.getElementById('inp-new-responsable-name').value = ''">{% include 'icons/plus.svg' %}</button>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inp-has-card"
            {% if reg.invoice %}checked{% endif %}
            onclick="document.getElementById('div-inp-card').hidden = !this.checked">
        <label class="form-check-label" for="inp-has-card">Registro no Cartão</label>
    </div>
    <div id="div-inp-card" {% if not reg.invoice %}hidden{% endif %}>
        <label for="inp-card" class="form-label">Cartão</label>
        <div class="d-flex d-column column-gap-2">
            <select class="form-select" id="inp-card">
                {% for card in cards %}
                <option value="{{ card.id }}" {% if reg.invoice.card.id == card.id %}selected{% endif %}>{{ card.name }}</option>
                {% endfor %}
            </select>
            <button title="novo cartão" id="btn-new-card" class="btn btn-outline" data-bs-toggle="modal" data-bs-target="#modal-new-card">{% include 'icons/plus.svg' %}</button>
        </div>
    </div>
    <hr class="h-line-ignore-parent-padding m-0">
    <p class="title-2 m-0">Parcelamento</p>
    <div class="d-flex column-gap-2">
        <div class="w-100">
            <label for="inp-current-installment" class="form-label">Parcela Atual</label>
            <input type="number" class="form-control" min="1" step="1" placeholder="1" id="inp-current-installment" value="{{ current_installment }}"
            onchange="document.getElementById('alert-installment-quantity').hidden = this.value == 1 || this.value == ''"
            {% if edit_mode %}disabled{% endif %}>
        </div>
        <div class="w-100">
            <label for="inp-num-installments" class="form-label">Total de Parcelas</label>
            <input type="number" class="form-control" min="1" step="1" placeholder="1" id="inp-num-installments" value="{{ num_installments }}"
            {% if edit_mode %}disabled{% endif %}>
        </div>
    </div>
    <div class="alert alert-warning m-0" id="alert-installment-quantity" role="alert"
        {% if hide_installment_quantity_alert %}hidden{% endif %}>
        Os registros anteriores a parcela atual não serão criados automaticamente!</div>

    {% if show_installment_updates_alert %}
    <div class="alert alert-warning m-0" role="alert">As alterações aplicadas neste registro não serão replicadas para as outras parcelas!</div>
    {% endif %}

    <div class="h-100"></div>
    <hr class="h-line-ignore-parent-padding m-0">
    <div class="d-flex justify-content-end">
        {% if has_regs %}<button class="btn btn-outline ms-3 btn-reg-form-cancel">cancelar</button>{% endif %}
        <button class="btn primary ms-3 btn-reg-form-save">salvar</button>
    </div>
    
    <!-- MODAL - Novo Cartão -->
    {% include 'partials/home/nav-regs/modal-new-card.html' %}
    
    <!-- MODAL - Novo Responsável -->
    {% include 'partials/home/nav-regs/modal-new-responsable.html' %}

</div>

