:root {
    --primary-color: #F67928;
    --subtitle-color: #5E5E5E;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.h-line {
    width: stretch;
    height: .5px;
    background-color: #000;
    opacity: .25;
    margin: 1rem 0;
}

.v-line {
    width: .5px;
    height: stretch;
    background-color: #000;
    opacity: .25;
    margin: 0 1rem;
}

.title, .title-1 {
    font-weight: 500;
    font-size: 1.25rem;
}

.title-2 {
    font-size: 1.1rem;
    font-weight: 500;
}

.title-3 {
    color: #8D8D8D;
    font-size: .9rem;
    font-weight: 400;
}

.btn, .btn-outline {
    i {
        font-size: 15pt;
        color: var(--subtitle-color);
    }

    svg {
        height: 20px;
        width: 20px;
    }

}

.btn-outline {
    background-color: white;
    color: var(--subtitle-color);
    border: .5px solid var(--bs-border-color);
    border-radius: var(--bs-btn-border-radius);

    font-size: 11pt;
}

.btn-outline:has(svg) {
    padding: .5rem;
}

.btn-rotate *, .btn-rotate-full * {
    transition: transform 0.5s ease;
    display: inline-block;
}

.btn-rotated * {
    transform: rotate(180deg);
}

.btn-rotated-full * {
    transform: rotate(360deg);
}