body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

main {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.home-nav-logo {
    margin-right: auto;

        img {
        width: 30px;
        height: 30px;
    }
}

.home-nav {
    width: 290px;

    .nav-link {
        
        * {
            cursor: pointer;
            color: var(--subtitle-color);
            stroke: var(--subtitle-color);
            font-weight: 500;
            font-size: 11pt;
        }

        svg {
            height: 25px;
            width: 25px;
        }
    }

    .icon-panel-closed {
        display: none;
    }
}

.home-nav.collapsed {
    width: 96px;
    
    span, .home-nav-logo, .icon-panel-opened {
        display: none !important;
    }

    .icon-panel-closed {
        display: block;
    }
}

.nav-link-active {
    background-color: var(--primary-color);

    * {
        color: white !important;
        stroke: white !important;
    }
}

.home-nav-title {
    color: black;
    font-size: 13pt;
}

#home-title {
    color: var(--subtitle-color);
}

.card-status {
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    display: inline-block;
}

.card-status-atrasado {
    background-color: #f5a7a7;
    color: #721c24;
}

.card-status-pendente {
    background-color: #a7d9f5;
    color: #0c5460;
}

.card-status-pago {
    background-color: #9EEEC7;
    color: #4A705E;
}

.reg-transactions svg {
    height: 22px;
    width: 22px;
    color: var(--subtitle-color);
}