<div class="card reg-details p-3 shadow-sm ms-3 h-100 overflow-auto" style="display: none;">
    <div class="d-flex justify-content-between align-items-center">
        <div class="inp-title">
            <p class="text m-0 title-2"></p>
        </div>
        <div class="d-flex">
            <button class="btn btn-outline ms-3 btn-delete">{% include 'icons/trash.svg' %}</button>
            <button class="btn btn-outline ms-3 btn-duplicate">{% include 'icons/duplicate.svg' %}</button>
            <button class="btn btn-outline ms-3 btn-edit">{% include 'icons/edit.svg' %}</button>
            <button class="btn btn-outline ms-3 btn-hide">{% include 'icons/panel-right-filled.svg'%}</button>
        </div>
    </div>
    <div class="inp-type">
        <p class="m-0 fw-semibold">Tipo</p>
        <p class="text"></p>
    </div>
    <div class="inp-value">
        <p class="m-0 fw-semibold">Valor</p>
        <p class="text"></p>
    </div>
    <div class="inp-owner">
        <p class="m-0 fw-semibold">Responsável</p>
        <p class="text"></p>
    </div>
    <div class="inp-occurrance">
        <p class="m-0 fw-semibold">Data de Ocorrência</p>
        <p class="text">20 Jan 26, 08h10</p>
    </div>
    <div class="inp-description">
        <p class="m-0 fw-semibold">Descrição</p>
        <p class="text">Televisão parcelada</p>
    </div>
    <div class="inp-status">
        <p class="m-0 fw-semibold">Status</p>
        <div class="text"></div>
    </div>
    <hr class="h-line-ignore-parent-padding">
    <div class="inp-card">
        <p class="m-0 fw-semibold">Cartão</p>
        <p class="text"></p>
    </div>
    <div class="inp-invoice">
        <p class="m-0 fw-semibold">Fatura</p>
        <p class="text"></p>
    </div>
    <div class="inp-installment">
        <p class="m-0 fw-semibold">Parcela</p>
        <p class="text"></p>
    </div>
    <div class="inp-installment-value">
        <p class="m-0 fw-semibold">Valor Total</p>
        <p class="text"></p>
    </div>
    <div class="inp-paid-pending">
        <div class="d-flex justify-content-between">
            <span class="fw-semibold">Pago</span>
            <span class="fw-semibold">Pendente</span>
        </div>
        <div style="height: 30px;" class="d-flex">
            <div class="bar paid" style="width: 60%; background-color: #435797;"></div>
            <div class="bar pending" style="width: 40%; background-color: #cbd1e4;"></div>
        </div>
        <div class="d-flex justify-content-between">
            <span class="text paid"></span>
            <span class="text pending"></span>
        </div>
    </div>


    <!-- MODAL - Delete Confirm -->
    <div class="modal fade" id="modal-trans-delete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">Deseja excluir todos os dados do registro?<br><br>Os registros no mesmo grupo de parcelamento também serão excluídos!</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fechar</button>
                    <button type="button" class="btn primary btn-modal-ok">confirmar</button>
                </div>
            </div>
        </div>
    </div>

</div>