<div class="modal fade modal-new-card" id="modal-new-card" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Novo Cartão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column row-gap-3">
                <div>
                    <span>Nome</span>
                    <input type="text" class="form-control inp-name" id="modal-new-card-inp-name">
                </div>
                <div class="form-check">
                    <input class="form-check-input inp-prev-month-closing" type="checkbox" name="inp-prev-month-closing" id="modal-new-card-inp-prev-month-closing">
                    <label class="form-check-label" for="modal-new-card-inp-prev-month-closing">O dia de fechamento ocorre no mês anterior</label>
                </div>
                <div>
                    <span>Dia de Fechamento</span>
                    <input type="number" class="form-control inp-closing" min="1" step="1" max="31" placeholder="1" id="modal-new-card-inp-closing">
                </div>
                <div>
                    <span>Dia de Vencimento</span>
                    <input type="number" class="form-control inp-due" min="1" step="1" max="31" placeholder="1" id="modal-new-card-inp-due">
                </div>
                <div>
                    <span>Limite</span>
                    <div class="input-group">
                        <span class="input-group-text">R$</span>
                        <input type="number" class="form-control inp-limit" min="0" step="0.01" placeholder="0,00" id="modal-new-card-inp-limit">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-bs-dismiss="modal">fechar</button>
                <button type="button" class="btn-modal-new-card-save btn primary">salvar</button>
                <!-- <button type="button" id="btn-new-card-save" class="btn primary">salvar</button> -->
            </div> 
        </div>
    </div>
</div>