<div class="modal fade" id="modal-new-responsable" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Novo Responsável</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column row-gap-3">
                <div>
                    <span>Nome</span>
                    <input type="text" class="form-control" id="inp-new-responsable-name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-bs-dismiss="modal">fechar</button>
                <button type="button" class="btn primary btn-modal-new-responsable-save">salvar</button>
            </div>
        </div>
    </div>
</div>