<div id="sum-inputs-hidden" hidden>{{ sum_inputs }}</div>
<div id="sum-outputs-hidden" hidden>{{ sum_outputs }}</div>

{% for transaction in transactions %}
<div class="card p-3 {% if forloop.counter != 1 %} mt-3 {% endif %}">
    <div class="d-flex flex-row align-items-center justify-content-between">
        <div>
            <p class="title mb-2">{{ transaction.title }}</p>
            <div class="d-flex flex-row align-items-center card-transaction-desc">
                {% include 'icons/money-recive.svg' %}
                <span title="total de entradas" class="title-3-bold me-3 ms-1">{{ transaction.sum_inputs }}</span>
                {% include 'icons/money-send.svg' %}
                <span class="title-3-bold me-3 ms-1" title="total de saídas">{{ transaction.sum_outputs }}</span>
                {% if transaction.LATE %}       <span class="title-3-bold me-3">{{ transaction.LATE }}</span>      {% endif %}
                {% if transaction.PENDING %}    <span class="title-3-bold me-3">{{ transaction.PENDING }}</span>   {% endif %}
                {% if transaction.OK %}         <span class="title-3-bold me-3">{{ transaction.OK }}</span>        {% endif %}
                {% if transaction.ACCOUNTED %}  <span class="title-3-bold me-3">{{ transaction.ACCOUNTED }}</span> {% endif %}
            </div>
        </div>
        {% if transaction.values.Entradas or transaction.values.Saídas %}
        <button id="{{ transaction.container_id }}:btn-collapse" class="btn border-0 p-0 btn-rotate" type="button" data-bs-toggle="collapse"
            data-bs-target="#{{ transaction.container_id }}:tables" aria-expanded="false" aria-controls="{{ transaction.container_id }}:tables">
            <i class="bi bi-chevron-up rotate"></i>
        </button>
        {% endif %}
    </div>
    <div class="collapse table-responsive mt-3" id="{{ transaction.container_id }}:tables">
        <table class="table table-hover m-0">
            <thead>
                <tr>
                    <th scope="col" hidden>ID</th>
                    <th scope="col">Título</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data de Ocorrência</th>
                    <th scope="col">Cartão</th>
                    <th scope="col">Parcela</th>
                </tr>
            </thead>
            <tbody>
                {% for title, values in transaction.values.items %}
                    
                    {% if values %}
                    <tr class="ignore-click"><td colspan="100%">{{ title }}</td></tr>
                    {% for value in values %}
                    <tr>
                        <td hidden>{{ value.id }}</td>
                        <td>{{ value.title }}</td>
                        <td>{{ value.value_formatted }}</td>
                        <td>
                            {% if value.status == "PENDING" %}
                            <span class="badge-custom bg-pendente">Pendente</span>
                            {% elif value.status == "OK" %}
                            <span class="badge-custom bg-pago">Pago</span>
                            {% elif value.status == "ACCOUNTED" %}
                            <span class="badge-custom bg-pendente">Contabilizado</span>
                            {% elif value.status == "LATE" %}
                            <span class="badge-custom bg-atrasado">Atrasado</span>
                            {% else %}
                            <span>?</span>
                            {% endif %}
                        </td>
                        <td>{{ value.occurrance_formatted }}</td>
                        <td>{{ value.card_name }}</td>
                        <td>{{ value.installment_formatted }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}